= form_tag user_add_challenge_path(user.id), method: :put do
  = label_tag 'Challenge'
  = select_tag 'challenge_id', options_from_collection_for_select(Challenge.where('id not in(?)', user.completed_challenge_ids).all, 'id', 'name')
  = submit_tag 'Add', class: 'btn btn-primary'