:textile
  h1. SSIG CTF
  
  Welcome to the SSIG CTF. Just have fun.

  Register with your first name and first letter of last name. For example: ‘StarkR’ would be mine. Use whatever password you want, I promise I wont look ;)

  Feel free to allow others to play around with it as well.

