- if user_signed_in?
  - if current_user.launched_challenges.include? challenge
    %span.label.label-info In progress
- challenge.tags.each do |tag|
  = link_to tag, challenge_tag_search_path(tag.name), class: 'label label-primary'