%h1
  %span.label.label-primary
    = @tag
    Challenges
- if cannot? :complete, Challenge
  %strong(style='color:red')
    Loggin to participate in challenges
  %br
  %br

= render 'challenges/table'
